{% extends 'base.html.twig' %}

{% block title %}Categorías{% endblock %}

{% block body %}

    <h1 class='d-flex align-items-center'>
        Editar Categoría
    </h1>

    {{form(form)}}

{% endblock %}
